/** ColEm: portable Coleco emulator **************************/
/**                                                         **/
/**                         ColEm.rc                        **/
/**                                                         **/
/** This file contains GUI definition for ColEm-Windows.    **/
/**                                                         **/
/** Copyright (C) Marat Fayzullin 1994-2008                 **/
/**     You are not allowed to distribute this software     **/
/**     commercially. Please, notify me, if you make any    **/
/**     changes to this file.                               **/
/*************************************************************/
#include "Windows.h"
#include "LibWin.h"
#include "ColEm.rh"

Icon ICON "ColEm.ico"

Menu MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Open", CM_Open
    MENUITEM "&Load .STA Snapshot", CM_LoadSTA
    MENUITEM "&Save .STA Snapshot", CM_SaveSTA
    MENUITEM "Save &MIDI Soundtrack", WMENU_SaveMID
    MENUITEM SEPARATOR
    MENUITEM "&Network Play", WMENU_NETPLAY
    MENUITEM SEPARATOR
    MENUITEM "&Quit", WMENU_QUIT
  END
  POPUP "&Hardware"
  BEGIN
    MENUITEM "Coleco Adam &Computer", CM_Adam 
    MENUITEM "Coleco&Vision Console", CM_CVision
    MENUITEM SEPARATOR
    MENUITEM "TMS9929 VDP (&PAL)", CM_PAL
    MENUITEM "TMS9928 VDP (&NTSC)", CM_NTSC
    MENUITEM "Show &All Sprites", CM_AllSprites
    MENUITEM SEPARATOR
    MENUITEM "Scaled VDP Palette", CM_Palette0
    MENUITEM "Original VDP Palette", CM_Palette1
    MENUITEM "Faded NTSC Palette", CM_Palette2
    MENUITEM SEPARATOR
    MENUITEM "Configure &Windows Joystick", CM_Joysticks
    MENUITEM "&Swap Left and Right Buttons", CM_JoySwap
    MENUITEM "Autofire for &Right Button", CM_AutoA
    MENUITEM "Autofire for &Left Button", CM_AutoB
    MENUITEM SEPARATOR
    MENUITEM "Horizontal SuperAction Spinner 1", CM_Spin1X
    MENUITEM "Vertical SuperAction Spinner 1", CM_Spin1Y
    MENUITEM "Horizontal SuperAction Spinner 2", CM_Spin2X
    MENUITEM "Vertical SuperAction Spinner 2", CM_Spin2Y
    MENUITEM SEPARATOR
    MENUITEM "&Hardware Reset", CM_Reset
  END
  POPUP "&Video"
  BEGIN
    MENUITEM "&1:1 (256x192)", WMENU_SIZEx1
    MENUITEM "&2:1 (512x384)", WMENU_SIZEx2
    MENUITEM "&3:1 (768x576)", WMENU_SIZEx3
    MENUITEM "&4:1 (1024x768)", WMENU_SIZEx4
    MENUITEM SEPARATOR
    MENUITEM "Draw 35% Frames", CM_Draw35
    MENUITEM "Draw 50% Frames", CM_Draw50
    MENUITEM "Draw 75% Frames", CM_Draw75
    MENUITEM "Draw All Frames", CM_Draw100
    MENUITEM SEPARATOR
    MENUITEM "&PAL Video (50Hz)", CM_PALVideo
    MENUITEM "&NTSC Video (60Hz)", CM_NTSCVideo
    MENUITEM SEPARATOR
    MENUITEM "&Full Screen Mode", WMENU_FULL
    MENUITEM "Soften Video &Output", WMENU_SOFTEN
    MENUITEM "Simulate &TV Scanlines", WMENU_TV
    MENUITEM "&Sleep When Inactive", WMENU_SAVECPU
  END
  POPUP "&Audio"
  BEGIN
    MENUITEM "&No Sound", WMENU_SNDOFF
    MENUITEM "&Melodic MIDI Sound", WMENU_SNDMIDI
    MENUITEM "&11kHz Wave Synthesis", WMENU_SND11kHz
    MENUITEM "&22kHz Wave Synthesis", WMENU_SND22kHz
    MENUITEM "&44kHz Wave Synthesis", WMENU_SND44kHz
    MENUITEM SEPARATOR
    MENUITEM "10ms Wave Buffer", WMENU_SND10ms
    MENUITEM "50ms Wave Buffer", WMENU_SND50ms
    MENUITEM "100ms Wave Buffer", WMENU_SND100ms
    MENUITEM "250ms Wave Buffer", WMENU_SND250ms
    MENUITEM "500ms Wave Buffer", WMENU_SND500ms
    MENUITEM SEPARATOR
    MENUITEM "Hit MIDI &Drums on Noise", CM_Drums
    MENUITEM "Log Melodic Soundtrack", WMENU_SNDLOG
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "ColEm &Documentation", WMENU_HELP
    MENUITEM "ColEm &Web Site", WMENU_WEB
    MENUITEM "&Author's Homepage", WMENU_AUTHOR
    MENUITEM SEPARATOR
    MENUITEM "A&bout ColEm", CM_About
  END
END
