[Desktop Entry]
Encoding=UTF-8
Version=2.5
Type=Application
Name=ColEm
Exec=/usr/bin/colem
Icon=colem
X-Window-Icon=colem
X-Window-Icon-Dimmed=colem
X-HildonDesk-ShowInToolbar=true
X-Osso-Service=com.fms.colem
X-Osso-Type=application/x-executable
MimeType=application/x-cvrom;
Terminal=false
