Source: colem
Section: user/games
Priority: optional
Maintainer: Marat Fayzullin <marat@komkon.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: colem
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ColecoVision emulator
 ColEm will run software written for ColecoVision videogame console.
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAAXNSR0IArs4c
 6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0
 SU1FB9gDHgkkBUuMQDgAAAObSURBVEjH7ZZLbBtVFIa/eWXG9viRjOPYeWgc
 kfJYQEPDoyRCCEjpoqq6AgmBGqm7rlmwqWBTJNoFYsMSgbrroixZIcGCqCiJ
 mqesqImUFiVqHrbHdpybsWfGw8ImVdlEQkpX+VdHV/ec//7/uefqwilO0YFk
 2/Y70Wh09CRJms3mkjowMPC9ZVlvZQwDT1WRFOgiQIQahuETBBLNQMY3fKSW
 hOqqeNEoiuuCLxMEKprmYvgGwhPUvToAvu8ThiGaprG3t1dQFUXRruo6kwsL
 7EUidH3kk5KbLI2kefXjEo2GzJUnMUrDNaSWRHrxK/Zev0x0cwf/kwjNZoJr
 mTmu745RHC5yM36T9Z11EokEkiRRKpUIw9BQAeJCkFpbQ9c0Iuc9ADJmiVTK
 AeAhUZykAKDUF6OcTKK5Ol7BaPtf6yG1m0LxFbrPdyPLMkNDQwBUq1UA5Od1
 GZ4bkfpv4AHTIyNYnsOots3y1iDVmTiZTJHs/QHq7z8iv5JH3VxFWLu8OLPE
 RnyEw8Me6i8UeOjHyJE7XtEfFy8Su3ED5fovfFc5hz1+G1n+ibt3R/lm4Ft6
 1ntYfneZN/clvpif52qjxq1ba0xN3efMpyrOzw7VVvV4It22qayssHjvB4SW
 oFZ+zM7O34Rh/GhzGIaUD+p0hyG/Li4zPb1NOg1//v4XubM5ikHxeOskz6PV
 atE0uvGDLcIwRFHl/w4ea61DPlBVwoaLaYpOcqeY1C6naRqFQqEtQNcRQjxV
 pCwscNDfT8Y+w1l1i5qQCYIGkcgOYRMytzPMrs7y0mOHmUaDK6OvEQQGi4sa
 4x+O8eDHB/QpfQDE43Fs28a2bZLJ5LOKxufn2V5ZwZry0KIwV/+Sly9VuHAB
 +h59TuXOIZPhJN3X7uC8fYl7hU28zwYBGJv7ja+L7+Hm3fahFYUgCNq9keVn
 iQCSgNbRGI9KmGbHmaQEqU6c6Cxa6aM8U7bQ0HBpE3mdNgBHhOqJDKcsk8/n
 kSSJjY2NkxvYVCqFJEm0Wi0sy3qq6DAS4SCXw9F1uiItTKlJRfQghE4QyPSX
 Y+jxfQDSjkuXEET2i3iDUXw/ChmBkAXOkEOtWaPqVunt7UVRFMrlctvyiYmJ
 2YxlvfGKrlPXddAhrjTZ9mP0ZQWuq1J0FVzLRW7IGGUTkc1iVCoEjoLvm8Ri
 T8jWsziew6a/edSbMAxRVZVisbgqDQ8PXzBN89xJvnNCiKXTP8b/xj+YsXLs
 Y2lluwAAAABJRU5ErkJggg==
